//
// Scaffold
// --------------------------------------------------

.admin-content{
	@include rem(margin-left, 260px);
	background-color: #F2F2F2;
}


// Header
.admin-content__header{
	@include rem(margin-bottom, 15px);
	display:block;
}

.admin-content__header-mast{
	border-bottom: 1px solid #cccccc;
	@include rem(padding, 20px);
	width: 100%;
    background: #fff;
}

.admin-content__header-title{
	@include rem(font-size, 22px);
	margin: 0px;
}

.admin-content__header-actions{
	margin-left: auto;
}

.admin-content__date-group{
	display: inline-block;
}

// Header Nav
.admin-content__header-nav{
	background: #fff;
    border-bottom: 1px solid #cccccc;
	@include rem(padding, 0px 20px);	    
}

a.admin-nav__header-nav-link{
	@include rem(font-size, 15px);
	@include rem(padding, 10px 20px);
	@include transition(border-bottom-color .15s linear);
	border-bottom: 5px solid transparent;
	bottom: -1px; // forces green border overtop the grey bottom border
	color: $brand-black;
	@include rem(margin-right, 15px);
	display: inline-block;
	position: relative;
	font-weight:400;
	&:hover{
		border-bottom-color: $brand-green;
	}
}

a.admin-nav__header-nav-link.admin-nav__header-nav--active {
	border-bottom-color: $brand-green;
	font-weight: 700;
}

// Body Content
.admin-content__body{
	@include rem(padding, 20px);
}

.admin-content__section-header{
	display: flex;
	@include rem(margin-bottom, 5px);
}
section.admin-content__section {
& .admin-content__section-header{
    margin-top: 20px;
    display: block;
	margin-bottom:40px;
}
}
.admin-content__section{
	@include rem(margin-bottom, 30px);
	position:relative;
}

h3.admin-content__section-headline{
	margin: 0px 0px 5px;
	@include rem(font-size, 14px);
	font-weight:700;
}

p.admin-content__section-desc{
	font-size: 12px;
	color: $brand-gray;
	@include rem(margin-bottom, 10px);
	font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
	text-align:left ;
}
.admin-content__section-header.sche-header div p{
text-align:right;
}
.activity {
& .admin-content__section-header.sche-header div p{
text-align:left;
}
}
.activity .col-md-8 {
    padding-left: 0;
}
.col-md-8 {
    width: 66.66666667%;
    float: left;
    padding: 0 15px;
}
.activity .col-md-4 {
    padding-right: 0;
}
.col-md-4 {
    width: 33.33333333%;
    float: left;
    padding: 0 15px;
}
.admin-content__section-header.sche-header.edit-activity {
    padding-top: 15px;
	 width: 100%;
}
.admin-content__section-header.sche-header {
    display: table;
    width: 70%;
}
.admin-content__section-header.edit-title {
    display: block;
    margin-top: 15px;
}
.active-list-box.u-background-white {
    min-height: 402px;
    overflow-y: auto;
    position: relative;
    top: -5px;
}
.activity-list:nth-child(1n+1) {
    border-top: 1px solid #ccc;
}

.activity-list {
    margin: 0;
    padding: 15px;
	& li {
    list-style: none;
    display: block;
    width: 100%;
	@include rem(font-size, 14px);
}
}
// Search
// 
.admin-content__section-header .admin-content__search{
	margin-left: auto;
	@include span-columns(4);
}

.admin-content__search input{
	font-size: 14px;
}
.white-button2 {
    background: #fff;
    color: #323232;
    border: 1px solid #ccc;
    padding: 0.625rem 0.75rem;
    font-weight: 500;
    font-size: 14px;
    width: auto;
    border-radius: 5px;
    display: inline-block;
    vertical-align: baseline;
    line-height: 1.4;
	&:hover{    
	background: #ccc;
    color: #fff;
	}
}
.admin-content-new {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    @include rem(padding, 22px);
    overflow: hidden;
    @include rem(margin-top, 22px);
}
.admin-content-title {
    @include rem(font-size, 24px);
    font-weight: 600;
}
.col-md-10 {
    width: 83.33333333%;
    float: left;
    padding: 0 15px;
}
.col-md-2 {
    width: 16.66666667%;
    float: left;
    padding: 0 15px;
}
ul{
&.admin-content-inner {
    list-style: inside none;
    margin: 0;
    padding: 0 0 0 15px;
    display: table;
    width: 100%;
& li{
    display: table-cell;
    color: #8e8e83;
    vertical-align: middle;
}
}
}
.admin-content-inner li p {
    margin: 0;
	@include rem(font-size, 14px);
	font-weight:400;
}
.admin-content-inner li {
&:last-child{
    text-align: right;
}
& button{
padding:0;
@include rem(margin-right, 15px);
}
}
.admin-content__section-header.sche-header.quest-view1 {
    width: 100%;
}
.admin-content__section-header.sche-header {
    display: table;
    width: 70%;
}
.admin-content__section-header.sche-header{
& div {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
&:first-child p {
    text-align: left;
}
}
}
.col-md-12.activity {
    @include rem(padding-top, 40px);
}
.col-md-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
}



